Package: velvet-tools
Version: VERSION
Maintainer: luk
Architecture: all
Depends: vboot-utils, u-boot-tools, xz-utils
Description: tools automating creation/flashing of bootable images for chromebooks
Triggers: bash-completion
