[Unit]
Description=checks if linux versions switch went well
After=network.target

[Service]
ExecStart=/usr/local/bin/vtcheck
Type=oneshot
RemainAfterExit=true

# Log output options
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target