[Unit]
Description=checks whether the linux version switch went well.
After=network.target

[Service]
ExecStart=/usr/bin/vtcheck
Type=oneshot
RemainAfterExit=true

# Log output options
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
